.pingpong {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #002651;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 200px;
  cursor: pointer;
}


.header {
  color: #ff304f;
  font-size: 3em;
  font-family: 'Arima Madurai', cursive;
  margin-bottom: 0px;
  text-shadow: 3px 2px;
}

.header3 {
  margin-top: 0px;
  color: #28c7fa;
  font-size: 2em;
  font-family: 'Nunito Sans', sans-serif;
}

.button {
  box-shadow: 2px 3px black;
  background: #775ada;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background: white;
  color: black;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.pitchLeft:hover,
.pitchRight:hover {
  border: 5px solid #775ada;
}

.pitchLeft,
.pitchRight {
  width: 20%;
  height: 300px;
  max-width: 200px;
  max-height: 300px;
  border: 3px solid black;
  border-radius: 40px;
  background: #ff304f;
  color: white;
  opacity: .8;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pitchRight {
  height: 100%;
  width: 30%;
  max-width: 200px;
  max-height: 450px;
  color: #ff304f;
  background: white;
}

.title {
  font-size: 1.7em;
  padding: 10px;
  font-weight: bold;
}

.title2 {
  font-size: 1.7em;
  padding: 10px;
  font-weight: bold;
  color: black;
}

.companyLogos img {
  width: 100px;
  margin-bottom: 10px;
}

.companyLogos img:hover {
  width: 120px;
}

.technologyLogos img {
  width: 70px;
  margin-right: 15px;
}

.technologyLogos img:hover {
  width: 90px;
}

.techStream {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 5px solid black;
  border-radius: 40px;
  background: #775ada;
  color: white;
  opacity: .9;
  z-index: -1;

}

.techStream img {
  width: 50px;
  margin-right: 5px;
}


@media (max-width: 890px) {
  
  .pitch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .companyLogos {
    display: flex;
    flex-direction: column;
  }

  .pitchLeft {
    width: 30%;
  }

  .pitchRight {
    height: 300px;
    color: #ff304f;
    background: white;
    width: 70%;
    min-width: inherit;
    max-width: inherit;
  }
}

@media (max-width: 650px) {

  .header {
    font-size: 2em;
    font-weight: 400;
  }
  
  .header3 {
    font-size: 1.2em;
    font-weight: 400;
  }
}


@media (max-width: 600px) {

  .pitchRight {
    color: #ff304f;
    background: white;
  }
}


@media (max-width: 500px) {
  .main {
    padding-left: 0px;
    justify-content: flex-start;
  }

  .pitch {
    margin-top: 60px;
    margin-bottom: 0px;
    height: 50%;
  }

  .pitchLeft {
    width: 40%;
  }
}