db_service/HELP.md
db_service/target/
db_service/!.mvn/wrapper/maven-wrapper.jar
db_service/!**/src/main/**/target/
db_service/!**/src/test/**/target/

### STS ###
db_service/.apt_generated
db_service/.classpath
db_service/.factorypath
db_service/.project
db_service/.settings
db_service/.springBeans
db_service/.sts4-cache

### IntelliJ IDEA ###
db_service/.idea
db_service/*.iws
db_service/*.iml
db_service/*.ipr

### NetBeans ###
db_service/nbproject/private/
db_service/nbbuild/
db_service/dist/
db_service/nbdist/
db_service/.nb-gradle/
db_servicebuild/
db_service!**/src/main/**/build/
db_service!**/src/test/**/build/

### VS Code ###
db_service/.vscode/
.vscode/
