.main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left:200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.postCard {
    
}