.popOutContainer {
    position: absolute;
    height: 100vh;
    width: 80%;
    background: black;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newBlogPost {
    position: absolute;
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1000px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px black;
    padding: 20px;
    background: #002651;
    opacity: .9;
}

.topMenuBlog {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.newPostTitle {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.newBlogPost input {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 5px;
}

.newBlogPost .ant-select {
    border: 1px solid black;
    width: 30%;
    margin-bottom: 5px;
}

.mainNewBlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.wrapperClassName {
    margin: 20px 0px;
}

.editorClassName {
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    height: 200px;
}

.postCard {
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}


.postCard:hover {
    border-top-right-radius: 40px;
    border: 1px solid black;
    opacity: .9;
    background-color: #28c7fa;
}

.postTopRow {
    display: flex;
    flex-direction: row;
}

.postTopRow div {
    margin: 0px 10px;
}

.postDate {
    font-weight: bold;
    color: #002651;
}

.postTitle {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.blogSubTitle {
    color: yellow;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background: #002651;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid white;
    min-width: 300px;
    max-width: 500px;
}

.blogEditContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.blogEditContainerTopRow {
    display: flex;
    flex-direction: row;
}

.blogEditBtn {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    background: yellow;
}

.blogDeleteBtn {
    background: red;
    color: white;
}

.blogFullPage {
    width: 100%;
    height: 100%;
}

.blogContent {
    width: 100%;
    height: 100%;
    padding-left: 20px;
}