.outline {
  height: 100%;
  width: 100%;
}

.navbar {
  position: absolute;
  width: 10%;
  height: 100vh;
  min-width: 200px;
  max-width: 200px;
  opacity: .8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: lightgray;
}

.brandLogo {
  max-width: 100%;
  margin-bottom: 20px;
}

.welcomeMsg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.welcomeMsg div {
  margin: 10px;
}

.linkTags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.linkTags a {
  font-size: 1.7em;
}

.linkTags a:hover {
  color: #ff304f;
}

.social img {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.social img:hover {
  opacity: .8;
}

.closeBtn {
  border-radius: 10px;
  padding: 5px;
  background: black;
  color: white;
  cursor: pointer;
  text-align: center;
}

.closeBtn:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.loginSurrounding {
  position: absolute;
  z-index: 100;

  height: 100%;
  width: 100%;
}

.loginBox:hover {
  border: 1px solid black;
}

.loginBox {
  width: 350px;
  padding: 10px;

  border-radius: 10px;
  box-shadow: 2px 3px black;
  background: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.loginBox .topRow {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  margin: 10px;
}

.loginBtn {
  background: green;
  color: white;
}

#loginBtn {
  background: green;
  color: white;
}

.loginForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.loginForm .ant-form-item-label>label {
  color: white;
}

@media (max-width: 500px) {
  .navbar {
    position: relative;
    width: 100%;
    height: 10%;
    opacity: .8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: inherit;
    max-width: inherit;
  }

  .welcomeMsg {
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 0px;
    font-size: .8em;
  }

  .linkTags {
    flex-direction: row;
    justify-content: space-between;
  }

  .linkTags a {
    font-size: .8em;
    font-weight: bold;
    margin-right: 7px;
  }

  .social img {
    display: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .brandLogo {
    max-width: 50%;
    margin: 0px;
  }
}