.projectShowCase {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: stretch;
    justify-items: stretch;

    padding: 20px;
    height: 100%;

}

.project {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    height: 300px;
    cursor: pointer;
    background: #ff304f;
    background-color: #002651ed;
    color: white;
    text-align: left;

    display: flex;
    flex-direction: row;
}

.project:hover {
    opacity: .8;
}

.projectText {
    width: 55%;
    height: 100%;
    padding: 5px;
    padding-left: 20px;
}

.projectImg {
    width: 50%;
    height: 90%;
    border-radius: 10px;
}

.projectTitle {
    font-weight: bolder;
    color: #002651ed;
    color: yellow;
    color: #ff304f;
    font-size: 1.8em;
    font-family: 'Arima Madurai', cursive;
}

.projectDesc {
    height: 50%;
    width: 90%;
    font-size: 1.1em;
}

.projectTagBox {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    align-items: stretch;
    justify-items: stretch;
}

.aboutMeBanner {
    width: 100%;
    height: 100%;
    background: #002651ed;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 750px;
    height: 500px;
    border: 1px solid white;
    background-color: #002651ed;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
}

.aboutMe:hover {
    opacity: .9;
}

.profileImg {
    width: 40%;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 10px;
}

.aboutMeText {
    font-size: 1.3em;
    font-weight: 300;
    margin-left: 20px;
    height: 100%;
    width: 60%;
    color: white;
}

@media (min-width: 1200px) {
    .projectShowCase {
        grid-template-columns: 1fr 1fr;
    }

}